<div class="section" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1664202525990-227e8230adee?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fHB1cmNoYXNlfGVufDB8fDB8fHww)">

  <div class="container">

    <div class="white-box benefit-item">
       <i class="fa-solid fa-circle-check"></i>
      <div><strong>Transparence Totale </strong></div>
      <div>Nous mettons l'accent sur la transparence en affichant clairement les prix, les promotions et les frais éventuels.</div>
    </div>

    <div class="white-box benefit-item">
      <i class="fa-solid fa-euro-sign"></i>
      <div><strong>Les meilleurs prix </strong> </div>
      <div>Ne manquez jamais une opportunité d'économiser sur vos articles préférés.</div>      
    </div>


    <div class="white-box benefit-item">
      <i class="fas fa-clock"></i>
      <div><strong>Simplicité maximale  </strong></div>
      <div>Notre interface conviviale rend la recherche et la comparaison des prix aussi simples que possible.</div>
    </div>


  </div>
</div>