<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587614380862-0294308ae58b?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Découvrez notre sélection high-tech !</h1>
  </div>
</div>


<div class="section">
  <div class="container">
    
    <div class="breadcrumbs">
      <%= link_to "Bons plans", products_path %> > High Tech
    </div>

    <h2>Les Accessoires High-Tech Essentiels</h2>

    <h3 class="h5">1. Laptop</h3>
    <p>Le laptop, ou ordinateur portable, est sans aucun doute l'un des accessoires high-tech les plus importants de nos jours. Il offre une mobilité inégalée, permettant de travailler, de créer et de se divertir n'importe où. Que ce soit pour les études, le travail ou le divertissement, un laptop est une pièce maîtresse incontournable.
    </p>

     <h3 class="h5">2. Casque</h3 class="h5">
    <p>Le casque audio est un accessoire qui ne doit pas être sous-estimé. Que ce soit pour écouter de la musique, regarder des films, jouer à des jeux vidéo ou participer à des appels vidéo, un bon casque offre une expérience sonore immersive. Il isole également des bruits extérieurs, offrant ainsi un espace personnel sonore, indispensable dans nos environnements souvent bruyants.
    </p>

    <h3 class="h5">Conclusion</h3 class="h5">
    <p>
      En résumé, parmi tous les accessoires high-tech disponibles, le laptop et le casque se distinguent comme les plus essentiels. Le laptop offre une flexibilité sans égale pour accomplir une variété de tâches, tandis que le casque crée une expérience audio personnelle inégalée. Ensemble, ces deux accessoires forment un duo indispensable pour rester connecté, productif et divertir dans le monde numérique d'aujourd'hui.
    </p>
  </div>
</div>

<div class="section bg-green10">
  <div class="container">
    <h3>Retrouvez nos meilleurs offres high-tech<h3>
    <div class="product-cards">
      
      <%= link_to "https://www.amazon.fr/DOQAUS-Bluetooth-Cache-Oreilles-prot%C3%A9ines-Microphone/dp/B0CPHZ5SGP?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=casque+bluetooth&qid=1705918808&sr=8-137-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&psc=1&linkCode=ll1&tag=misshelper33-21&linkId=1be889285ccc69ec4150656256bc0f7f&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/71rFDNP56iL._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Casque Bluetooth</h2>
              <p>DOQAUS Casque Bluetooth sans Fil 70H</p>
            </div>
            <h2 class="product-card-pricing">25,99€</h2>
          </div>
        </div>
      <% end %>

      <%= link_to "https://www.amazon.fr/Dell-Ordinateur-i7-1185G7-r%C3%A9tro%C3%A9clair%C3%A9-Professionnel/dp/B094RK1XJQ?&linkCode=ll1&tag=misshelper33-21&linkId=7b7e8ae4499686afc0fb7eb2fabc7198&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/71xRvUmvwaS._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Dell Latitude 7420 </h2>
              <p>Ordinateur Portable 14" Full HD Intel Core i7-1185G7 vPro</p>
            </div>
            <h2 class="product-card-pricing">1496,00€</h2>
          </div>
        </div>
      <% end %>

      <%= link_to "https://www.amazon.fr/Apple-MacBook-avec-13-Pouces-256-Go/dp/B08N5VJZHW?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2PBHHSD6OG9V4&keywords=macbook+air&qid=1705935873&sprefix=macbook+air%2Caps%2C103&sr=8-5&ufe=app_do%3Aamzn1.fos.9ad51ef1-4f85-497e-abf8-79138a00c9e5&linkCode=ll1&tag=misshelper33-21&linkId=10a485ebaf7ec00fdd858208d217408a&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/61EdyD3MchL._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>MacBook Air 2020</h2>
              <p>Ordinateur Portable Puce M1, éCran Retina 13′</p>
            </div>
            <h2 class="product-card-pricing">1496,00€</h2>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>