<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587683437362-da7775ffc532?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
  <div class="container">
    <h1>Miss Helper, votre experte en raquettes de padel</h1>
    <p>Vous avez besoin d'une raquette de padel ? Nous sommmes là pour vous guider. </p>
    <%= link_to "Découvrir", rackets_path, class:"btn btn-flat"%>
  </div>
</div>