<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601924994987-69e26d50dc26?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Découvrez notre sélection de produits !</h1>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="product-cards">

      <%= link_to "https://www.amazon.fr/dp/B0BM971T4P?th=1&psc=1&linkCode=ll1&tag=misshelper33-21&linkId=34520a6689dcd36ccc14dd5baf1551fe&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/61mqd+x8uWL._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Gants de ski</h2>
              <p>TRIWONDER Gants de ski pour enfants</p>
            </div>
            <h2 class="product-card-pricing">12,99€</h2>
          </div>
        </div>
      <% end %>
      
      <%= link_to "https://www.amazon.fr/DOQAUS-Bluetooth-Cache-Oreilles-prot%C3%A9ines-Microphone/dp/B0CPHZ5SGP?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=casque+bluetooth&qid=1705918808&sr=8-137-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&psc=1&linkCode=ll1&tag=misshelper33-21&linkId=1be889285ccc69ec4150656256bc0f7f&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/71rFDNP56iL._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Casque Bluetooth</h2>
              <p>DOQAUS Casque Bluetooth sans Fil 70H</p>
            </div>
            <h2 class="product-card-pricing">25,99€</h2>
          </div>
        </div>
      <% end %>
      
      <%= link_to "https://www.amazon.fr/Nathan-animaux-qualit%C3%A9-sup%C3%A9rieure-r%C3%A9sistant/dp/B0BQRT6LNL?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3HL59ZMHY4T6B&keywords=puzzle+45+pieces+nathan&qid=1705920120&s=toys&sprefix=puzzle+45+pieces+nathan%2Ctoys%2C93&sr=1-12&linkCode=ll1&tag=misshelper33-21&linkId=516b0421e56de6903aef713f96c9703c&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/812NIvVw0GL.__AC_SY300_SX300_QL70_ML2_.jpg" />
       
          <div class="product-card-infos">
            <div>
              <h2>Puzzle Enfants</h2>
              <p> NATHAN 45 pièces - Les animaux de la jungle - Dès 5 ans</p>
            </div>
            <h2 class="product-card-pricing">13,50€</h2>
          </div>
        </div>
      <% end %>
      

    </div>
  </div>
</div>