<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601924994987-69e26d50dc26?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Découvrez notre sélection de produits !</h1>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="product-cards">
      
      
      <%= link_to kids_path do %>
        <div class="product-card">
          <img src="https://images.unsplash.com/photo-1620805041254-b4f36c52fdcb?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
          <div class="product-card-infos">
            <h2>Enfants</h2>
           </div>  
        </div>
      <% end %>

      <%= link_to high_tech_path do %>
        <div class="product-card">
          <img src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGFwdG9wfGVufDB8fDB8fHww" />
          <div class="product-card-infos">
            <h2>High-tech</h2>
           </div>  
        </div>
      <% end %>

      <%= link_to padel_path do %>
        <div class="product-card">
          <img src="https://images.unsplash.com/photo-1646649853517-e2f75cde1908?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fHBhZGVsfGVufDB8fDB8fHww" />
          <div class="product-card-infos">
            <h2>Padel</h2>
           </div>  
        </div>
      <% end %>

       <%= link_to ski_path do %>
        <div class="product-card">
          <img src="https://images.unsplash.com/photo-1528659862616-22886eb53642?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNraXxlbnwwfHwwfHx8MA%3D%3D" />
          <div class="product-card-infos">
            <h2>Ski</h2>
           </div>  
        </div>
      <% end %>
    
    </div>
  </div>
</div>