<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1669907525809-7a5ad2676683?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);background-position: center; background-size: cover">
  <div class="container">
    <h1>Les indispensables pour le ski</h1>
  </div>
</div>

<div class="section">
  <div class="container">
    
    <div class="breadcrumbs">
      <%= link_to "Bons plans", products_path %> > Ski
    </div>


    <h2>Équipement de Ski : comment être sûr de ne rien oublier ?</h2>
    <p>La checklist d'une valise de ski peut sembler bien longue. Miss Helper vous dit tout pour être bien équipés sur les pistes.</p>
    <h3 class="h5">Vêtements</h5>
    <ul>
        <li>Combinaison de ski ou veste et pantalon imperméables</li>
        <li>Sous-vêtements thermiques pour garder la chaleur corporelle</li>
        <li>Chaussettes de ski épaisses et isolantes</li>
        <li>Bonnet ou casque pour la tête</li>
        <li>Gants ou moufles imperméables</li>
    </ul>

    <h3 class="h5">Matériel de Ski</h5>
    <ul>
        <li>Skis, bâtons et fixations adaptés à votre niveau et style de ski</li>
        <li>Chaussures de ski confortables et bien ajustées</li>
        <li>Lunettes de ski ou masque pour protéger vos yeux du vent et de la neige</li>
        <li>Sac à dos pour transporter vos affaires et une gourde d'eau</li>
    </ul>

    <h3 class="h5">Accessoires</h5>
    <ul>
        <li>Casque de ski pour la sécurité</li>
        <li>Crème solaire à indice élevé pour protéger votre peau du soleil réfléchi par la neige</li>
        <li>Lampe frontale si vous prévoyez du ski en fin de journée</li>
        <li>Sifflet de secours</li>
    </ul>

    <h3 class="h5">Équipement de Sécurité</h5>
    <ul>
        <li>Arva (Appareil de Recherche de Victimes d'Avalanche)</li>
        <li>Pelle et sonde pour le secours en cas d'avalanche</li>
        <li>Sac airbag d'avalanche pour une protection supplémentaire</li>
    </ul>

    <h3 class="h5">Confort et Après-Ski</h5>
    <ul>
        <li>Crème hydratante pour protéger votre peau du froid</li>
        <li>Pantoufles ou chaussures confortables pour après le ski</li>
        <li>Écharpe et couverture pour rester au chaud en dehors des pistes</li>
    </ul>


  </div>
</div>

<div class="section bg-green10">
  <div class="container">

    <h3>Retrouvez nos coups de coeur pour cet hiver</h3>

    <div class="product-cards">

      <%= link_to "https://www.amazon.fr/dp/B0BM971T4P?th=1&psc=1&linkCode=ll1&tag=misshelper33-21&linkId=34520a6689dcd36ccc14dd5baf1551fe&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/61mqd+x8uWL._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Gants de ski</h2>
              <p>TRIWONDER Gants de ski pour enfants</p>
            </div>
            <h2 class="product-card-pricing">12,99€</h2>
          </div>
        </div>
      <% end %>

      <%= link_to "https://www.amazon.fr/Mishansha-Randonn%C3%A9e-Chaussure-Anti-D%C3%A9rapant-Imperm%C3%A9able/dp/B07WJ32FF4?crid=6A00YXFTPPOH&keywords=apr%C3%A8s+ski+femme&qid=1705935641&sprefix=apr%C3%A8s+sk+%2Caps%2C104&sr=8-14&linkCode=ll1&tag=misshelper33-21&linkId=6808b4e50efa07780dbf948d8725e412&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/81xVK8BK0uL._AC_SY695_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Bottes Hiver</h2>
              <p>Mishansha Imperméable Boots Neige</p>
            </div>
            <h2 class="product-card-pricing">46,99</h2>
          </div>
        </div>
      <% end %>
    
      <%= link_to "https://www.amazon.fr/KESSER%C2%AE-qualit%C3%A9-sup%C3%A9rieure-dossier-pliable/dp/B0BFRNXJL8?crid=2KW2GCHASOJ5U&keywords=luge%2Benfant&qid=1705935778&sprefix=luge%2Caps%2C159&sr=8-4-spons&ufe=app_do%3Aamzn1.fos.49fccda8-a887-4188-817b-b9a64bb30e43&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1&psc=1&linkCode=ll1&tag=misshelper33-21&linkId=f5f3faaa09153006b56fef9f76042c8a&language=fr_FR&ref_=as_li_ss_tl", target:"_blank" do %>
        <div class="product-card">
          <img src="https://m.media-amazon.com/images/I/911vpqSykgL._AC_SX679_.jpg" />
          <div class="product-card-infos">
            <div>
              <h2>Luge en Bois</h2>
              <p>KESSER® Luge Pliante pour Enfants</p>
            </div>
            <h2 class="product-card-pricing">89,80</h2>
          </div>
        </div>
      <% end %>
    

    </div>
  </div>
</div>