.btn-flat {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4A6D63;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #79A498;
  color: white;
}