.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}
